<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FaceSpace</title>
  
  <link type="text/css" rel="stylesheet" href="/static/style/style.css">
  <script type="text/javascript" src="/static/script/script.js"></script>

  <!-- Uncomment to serve static files locally -->
  <!-- {% load static %} -->
  <!-- <link type="text/css" rel="stylesheet" href="{% static 'style/style.css' %}"> -->
  <!-- <script type="text/javascript" src="{% static 'script/script.js' %}"></script> -->
</head>
<body id="facespace">
  <div class="container">
    <div class="main">
      <div></div>
      <h1 class="title">FaceSpace</h1>
      <div class="box">
        <div class="activity-indicator">
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
          <div class="activity-indicator-blade">
            <div class="activity-indiciator-blade-top"></div>
            <div class="activity-indiciator-blade-mid"></div>
            <div class="activity-indiciator-blade-bot"></div>
          </div>
        </div>
        <p class="activity-status">Definitely doing stuff...</p>
      </div>
    </div>
    <div class="footer">
      <p class="legal">&#169; 2020 <a href="https://www.micruopp.com">Mic Ruopp.</a> All rights reserved.</p>
    </div>
  </div>
</body>
</html>