<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FaceSpace</title>
  
  <link type="text/css" rel="stylesheet" href="/static/style/style.css">
  <script type="text/javascript" src="/static/script/script.js"></script>

  <!-- Uncomment to serve static files locally -->
  <!-- {% load static %} -->
  <!-- <link type="text/css" rel="stylesheet" href="{% static 'style/style.css' %}"> -->
  <!-- <script type="text/javascript" src="{% static 'script/script.js' %}"></script> -->
</head>
<body>
  <div class="container">
    <h1>FaceSpace</h1>
    <h2>
      <em>Welcome!</em>
    </h2>
  </div>
</body>
</html>